body{
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
}

h1{
	text-align: "center";
	color: #FFFFFF;
	background-color: #851944;
}

h1, h2{
	font-family: "Open Sans Condensed", "Arial",sans-serif;

}

p{
	text-align: justify;

}